* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(45deg, rgb(233, 233, 119), rgb(234, 176, 186), rgb(227, 172, 70));
  background-attachment: fixed;scroll-behavior: smooth;
}

header {
  padding: 1.5vmin 0;
  text-transform: uppercase;
  background-color: rgb(40, 40, 40);
  color: #e9e9e9;
}

header h4 {
  -webkit-text-stroke-color: #e9e9e9;
  -webkit-text-stroke-width: 0.5px;
  color: transparent;
}

header p {
  font-size: small;
}

main {
  height: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 5px;
  gap: 2vh;
  border-bottom: 1px solid slategray;
}

section h3 {
  width: 100%;
  text-decoration: underline;
  color: rgb(47, 64, 79);
}

section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.8px solid rgb(67, 80, 91);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

section > div a {
  cursor: default;
}

section div a {
  text-decoration: none;
  color: rgb(47, 64, 79);
}

section div .btn {
  display: flex;
  flex-direction: row;
  padding: 2vh;
  gap: 3vh;
}

section div .img {
  height: 10vh;
  width: 28vh;
  background-color: #e9e9e9;
  background-color: white;
  margin-top: 2vh;
  border: 1.5px solid rgb(155 173 188);
  color: rgb(67, 80, 91);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


/* Terminal dots style */
.dot-container {
  background-color: rgb(67, 80, 91);
  height: 15%;
  padding: 6px 0 10px 6px;
}

.terminal-dots {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #e9e9e9;
  box-shadow: 6px 0 0 #e9e9e9, 12px 0 0 #e9e9e9;
}


/* Program title style */
section div .img h4 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding-top: 10px;
}

.btn a {
  color: rgb(67, 80, 91);
  border: 1.5px solid rgb(67, 80, 91);
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn a:hover {
  background-color: rgb(67, 80, 91);
  color: #fff;
}

footer {
  color: rgb(47, 64, 79);
  background-color: rgb(67, 80, 91);
  background-color: rgb(40, 40, 40);
  color: #e9e9e9;
  text-transform: capitalize;
  padding: 2%;
}


 @media (max-width: 600px) {
  section {
    flex-direction: column;
    overflow-y: auto;
    max-height: 60vh;  
    flex-wrap: nowrap;
    margin: 0 25px;
  }
 }