* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    background-color: black;
    transition: background-color 0.2s ease;
  }
  header {
    display: flex;
    align-items: center;
    text-align: center;
    width: 98%;
    color: gray;
    margin: 5px;
    padding-top: 20px;
    border-bottom: 1px solid gray;
  }
  header a {
    text-decoration: none;
    color: gray;
    font-size: 2rem;
  }
  header h2 {
    width: 100%;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    height: 70%;
    padding: 5px;
    padding-top: 1rem;
  }
  .btn {
    cursor: pointer;
    width: 3.4rem;
    height: 6.5rem;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 12px 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  .btnOff {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #dadada;
    border-bottom: 5px solid gray;
  }
  .btnOn {
    background-color: white;
    border-top: 5px solid gray;
    border-bottom: 0;
  }
  .board {
    border: 2px double gray;
    border-radius: 3px;
    padding: 1rem;
  }
  @media (max-width: 600px) {
    main {
      height: auto;
    }
    .board {
      width: 100%;
      overflow-x: auto;
    }
  }
